In [1]:
import pandas as pd
'''
This script converts a column of names into unique IDs
Rename the company/customer-names column of this file(code below) to match the column name in your file.

'''  
try:
    df = pd.read_excel('company.xlsx')
    df.to_csv('company.csv', mode = 'w', index=False)
except:
    df = pd.read_csv('company.csv')
df

,Rank,Metals Industry,Number Of Employees,Change In \n Rank,Industry,Company Description,Revenues\n ($millions),Revenue \n Change,Profits\n ($millions),Profit \n Change,Assets\n ($millions),Market Value \n As of 3/31/20 ($m)
0,1.0,Walmart,2200000.0,-,Retail Company,Walmart Inc. Is An American Multinational Reta...,523964.0,0.019,14881.0,1.231,236495.0,321803.0
1,2.0,Amazon.com,798000.0,3.0,E-commerce Company,"Amazon.com, Inc. Is An American Multinational ...",280522.0,0.205,11588.0,0.15,225248.0,970680.0
2,3.0,Exxon Mobil,74900.0,-1.0,Corporation,"Exxon Mobil Corp. engages in the exploration, ...",264938.0,-0.087,14340.0,-0.312,362597.0,160696.0
3,4.0,Apple,137000.0,-1.0,Technology Company,Apple Inc. Is An American Multinational Techno...,260174.0,-0.02,55256.0,-0.072,338516.0,1112641.0
4,5.0,Cvs Health,290000.0,3.0,Healthcare Company,Cvs Health Is An American Healthcare Company T...,256776.0,0.32,6634.0,-,222449.0,77376.0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996.0,Mr. Cooper Group,9100.0,-,Home Loan Servicers,Mr. Cooper Group Inc. Provides Quality Servici...,2007.0,-,274.0,-,18305.0,674.0
996,997.0,Herc Holdings,5100.0,-4.0,Equipment Rental,They Are One Of The Largest Equipment Rental C...,1999.0,0.011,47.5,-0.313,3817.0,591.0
997,998.0,Healthpeak Properties,204.0,-,Real Estate Investment,"Healthpeak Properties, Inc. Is A Real Estate I...",1997.0,0.082,45.5,-0.957,14033.0,12059.0
998,999.0,Spx Flow,5000.0,-37.0,Pumps And Pumping Equipment,It Is A World Leader In Sustainable Solutions ...,1996.0,-0.045,-95.1,-3.161,2437.0,1212.0
999,1000.0,Liberty Oilfield Services,2571.0,-58.0,Oil And Gas,Liberty Is An Innovative Service Company Provi...,1990.0,-0.076,39.0,-0.692,1283.0,303.0

In [2]:
import pandas as pd

def generate_unique_id(company_name: str) -> str:
    """
    :params company_name 
    :return a unique 12 character ID based on the named from the input
    
    """
    unique_key = ''
    company_name = company_name.upper()
    
    for char in (("THE ", ""), (" THE ", " "), (" AND ", " "), (" OF ", " ")):
        company_name = company_name.replace(*char)
        
    new_name_list = []
    name_list = company_name.split(' ')
    wordCount = len(name_list)
    
    for name in name_list:
        new_name_list.append(''.join(ch for ch in name if ch.isalnum()))
    
    if wordCount == 1:
            unique_key = new_name_list[0][0:8]
    else:
        for i in range(len(new_name_list)):
            if i == 0:
                unique_key += new_name_list[i][:4]
            else:
                unique_key += new_name_list[i][:2]

            if len(unique_key) > 7:
                break

    if len(unique_key) <= 8:
        unique_key += 'x' * (8 - len(unique_key))
    
    hash_number = str(hash(company_name.upper()))[1:4]
        
    unique_key += hash_number
    
    return unique_key

In [3]:
keys_list = []

"""Change the name of (row[" <Your name column's name here>  "])) to match your columns name"""
for index, row in df.iterrows():
    keys_list.append(generate_unique_id(row["Metals Industry"]))
    
df['unique_ID'] = keys_list

In [ ]:
temp_cols=df.columns.tolist()
new_cols=temp_cols[-1:] + temp_cols[:-1]
df=df[new_cols]
df.head(20)

In [ ]:
# check for duplicates, none if true
print(len(keys_list) == len(list(set(keys_list))))

In [ ]:
"""Change the name of ['Metals Industry'] to match your columns name"""
keys = keys_list
values = df['Metals Industry'].to_list()
alphaZip= zip(keys,values)
myDict = dict(alphaZip)
myDict